{% extends "base.html" %}
{% block content %}
<h3>Edit Item</h3>
<form method="POST" action="/item/{{item.id}}/edit">
    <label>Item Name
        <input type="text" name="name" value="{{item.name}}">
    </label>
    <label>Category:
        <input type="text" name="category" value="{{category}}">
    </label>
    <label>Description:
        <textarea name="description">{{item.description}}</textarea>
    </label>
    <input type="submit" name="submit">
</form>
{% for photo in photos %}
<img src='{{photo.public_url}}'>
<form method='POST' action='{{url_for("delete_photo", item_id=item.id, photo_id=photo.id)}}' enctype="multipart/form-data">
    <input type='submit' value='Delete'>
</form>{% endfor %}
<h4>Upload a photo</h4>
<form method='POST' action='{{url_for("upload_file", item_id=item.id)}}' enctype="multipart/form-data">
    <input type="file" name="file">
    <input type='submit' value='Upload'>
</form>
<p>{{error}}</p>
{% endblock %}